body{
    margin: 0px;
    padding: 0px;
}

/* -------barra negra de publicidad --------------------------*/

.letra-publicidad-nav{
    font-family: 'poppins',helvetica, sans-serif;
    letter-spacing: 0.5px;
}


.publicidad-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    font-size: 13px;
    color: white;
}

.icono-cel{
    width: 15px;
    height: 15px;
    margin: 3px;
}

.button-one{
    background-color: #FFE801;
    border-radius: 8px;
    border: none;
    width: 80px;
    margin-left: 90px;
}

.button-one:hover{
    background-color: orange;
}

/* -------barra amarilla de navegacion --------------------------*/

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    background-color: #FFE801;
    gap: 33px;
    flex-wrap: wrap;
    overflow: scroll;
}

.logo{
    height:65px;
    width: 65px;
    align-content: center;
}

.menu{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'poppins',helvetica, sans-serif;
    color: black;
    text-decoration: none;
    -webkit-text-stroke-width: 0.8px;
    font-size: 16px;
}

.fa-bars{
    padding: 7px;
    font-size: 18px;
    -webkit-text-stroke-width: 0.2px;
    
}

.menu:hover .fa-bars{
    background-color: white;
    border-radius: 30px;
    font-size: 17px;

}


.buscar{
    display: flex;
    font-family: 'poppins',helvetica, sans-serif;
    width: 470px;
    justify-content: start;
    align-content: center;
    border-radius: 10px;
    box-shadow: rgba(128, 128, 128, 0.236) 0px 3px 7px;
    overflow: hidden;
}

input{
    width: 90%;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 7px 18px;
    font-family: 'poppins',helvetica, sans-serif;
    border: none;
}

.input:focus{
    outline: none;
    border: none;
}

input::placeholder{
    color: black;
}

.lupa{
    width: 10%;
    background-color: #676767;
    border: none;
    font-size: 20px;
    -webkit-text-stroke-width: 0.9px;
    color: white;
    cursor: pointer;
}

.enlace-nav{
    text-decoration: none;
}

.ubicacion{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
    font-size: 17px;
    color: black;
}

.fa-location-dot{
    padding: 6px;
    
}

.pregunta{
    margin: 0px;
    padding: 0px;
    line-height: 1.5px;
    font-family: 'poppins',helvetica, sans-serif;
    font-size: 14px;
    -webkit-text-stroke-width: 0.8px;
}


.fa-chevron-right{
    font-size: 12px;
    -webkit-text-stroke-width: 0.5px;
}

.ubicacion:hover .fa-location-dot{
    background-color: white;
    border-radius: 30px;
    font-size: 16px;
}

.notificacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    font-size: 14px;
    font-family: 'poppins',helvetica, sans-serif;
    margin-left: 100px;
    cursor: pointer;
}


.micuenta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    font-size: 14px;
    font-family: 'poppins',helvetica, sans-serif;
    cursor: pointer;
} 

.carrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    font-size: 14px;
    font-family: 'poppins',helvetica, sans-serif;
    cursor: pointer;
}

.fa-bell, .fa-user, .fa-cart-shopping{
    font-size: 18px;
    padding: 6px;
} 

.icono-nav{
    text-decoration: none;
    color: inherit;
}

.notificacion:hover .fa-bell{
    background-color: white;
    border-radius: 30px;
    font-size: 16px;
}

.micuenta:hover .fa-user{
    background-color: white;
    border-radius: 30px;
    font-size: 16px;
}

.carrito:hover .fa-cart-shopping{
    background-color: white;
    border-radius: 30px;
    font-size: 16px;
}


.notificacion:hover .letras-iconos{
    text-decoration: underline;
}

.micuenta:hover .letras-iconos{
    text-decoration: underline;
}

.carrito:hover .letras-iconos{
    text-decoration: underline;
}


/* -------barra de navegacion gris --------------------------*/

.nav-two{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 45px;
    font-family: 'poppins',helvetica, sans-serif;
    color: black;
    font-size: 0.85rem;
    -webkit-text-stroke-width: 0.3px;
    flex: wrap;
    box-sizing: border-box;
}

.nav-gray{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 22rem 0 1rem;
    box-sizing: border-box;
    gap: 32rem;
    background-color: #CCCCCC;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    letter-spacing: 0.5px;
    
}

@media (max-width: 1680px) {
  .nav-gray {
    gap: 5rem;
  }
}

.palabras-left{
    text-decoration: none;
    color: inherit;
    margin-right: 25px;
    margin-left: 22.5rem;
} 


.palabras-left:hover{
    color: #999999;
}

.palabras-left-gray{
    text-decoration: none;
    color: inherit;
} 


.palabras-left-gray:hover{
    color: #999999;
}



.palabra-inicio{
    font-size: 15px;
    -webkit-text-stroke-width: 0.9px;
    letter-spacing: 1px;
    text-decoration: none;
    color: inherit;
}

.lista-inicio{
    display: flex;
    list-style: none;
    gap: 2rem;
    
}

@media (max-width: 530px) {
  .lista-inicio {
    display: none;
  }
}

.palabra-lista-gray{
    text-decoration: none;
    color: inherit;
}

.palabra-lista-gray:hover{
    text-decoration: underline;
    
}

/* -------Main- primera fila de imagenes --------------------------*/

.banner{
    display: flex;
    justify-content: center;
}

.imgagenes-banner{
    display: flex;
    justify-content: center;
    width: 93%;
    overflow: hidden;
}

.carrusel{
    display: flex;
    justify-content: start;
    animation: mover1 40s infinite;
    
}

.imagen-car{ 
    width: 100%;
}

.arrow-left{
    position: absolute;
    left: 1rem;
    margin-top: 9rem;
    margin-left: 4rem;
    font-size: 4rem;
    color: rgba(153, 10, 10, 0);
    background-color: #053fbb00;    
}

.imgagenes-banner:hover .arrow-left{
    color: rgb(239, 236, 236);
    background-color: #211f1f5d; 

}

.arrow-right{
    position: absolute;
    right: 1rem;
    margin-top: 9rem;
    margin-right: 4rem;
    font-size: 4rem;
    color: rgba(153, 10, 10, 0);
    background-color: #053fbb00; 
}

.imgagenes-banner:hover .arrow-right{
    color: rgb(239, 236, 236);
    background-color: #211f1f5d; 

}

@keyframes mover1 {
  9%   { transform: translateX(0%); }
  10%   { transform: translateX(-100%); }
  19%   { transform: translateX(-100%); }
  20%   { transform: translateX(-200%); }
  29%   { transform: translateX(-200%); }
  30%   { transform: translateX(-300%); }
  39%   { transform: translateX(-300%); }
  40%   { transform: translateX(-400%); }
  49%   { transform: translateX(-400%); }
  50%   { transform: translateX(-500%); }
  59%   { transform: translateX(-500%); }
  60%   { transform: translateX(-600%); }
  69%   { transform: translateX(-600%); }
  70%   { transform: translateX(-700%); }
  79%   { transform: translateX(-700%); }
  80%   { transform: translateX(-800%); }
  89%   { transform: translateX(-800%); }
  90%   { transform: translateX(-900%); }
  99%   { transform: translateX(-900%); }
  100%   { transform: translateX(-1000%); }
}


/* -------promociones --------------------------*/

.contenedor-promo{
    display: flex;
    justify-content: center;
}

.promociones{
    display: flex;
    justify-content: start;
    width: 68%;
    background: linear-gradient(90deg,rgba(255, 255, 255, 0.87) 0%, rgba(2, 4, 5, 1) 13%, rgba(0, 0, 0, 1) 83%, rgba(255, 255, 255, 0.9) 100%);
    overflow: hidden;
}

.carrusel-promo{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 30px;
    color: white;
    text-decoration: none;
    font-family: 'poppins',helvetica, sans-serif;
    gap: 1rem;
    animation: mover2 100s infinite;
    
}

.promo{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 80rem;
    gap: 1rem;
   
}

.button-compra{
    background-color: #FFE801;
    height: 20px;
    width: 7rem;
    font-size: 13px;
    border: none;
    border-radius: 20px;
}

@keyframes mover2 {
    0%   { transform: translateX(15.3%); }
    100%   { transform: translateX(-98%); }
}

.carrusel-promo:hover {
    animation-play-state: paused;
}

/* -------segunda fila de imagenes --------------------------*/

.imagenes-two {
    display: flex;
    justify-content: center;
    margin-top: 3rem;  
    gap: 1.5rem; 
}

.img-two{
    width: 27.5rem;
    height: 11rem;
}

/* -------tercera fila de imagenes --------------------------*/

.imagenes-three{
    display: flex;
    justify-content: center;
}

.img-three{
    width: 85rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.imagenes-center{
    display: flex;
    justify-content: center;
    margin-top: 39px;
}

/* -------imagen que cambia --------------------------*/

.imagenes-cambia{ 
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.img-cambia{
   width: 85.5rem;
}

.img-cambia-two{
    position: absolute;
    left: 1px;
    margin-left: 21rem;
    width: 85.5rem;
    opacity: 0;
}

.imagenes-cambia:hover .img-cambia-two{
   opacity: 1;
}

/* -------blackdays --------------------------*/

.titulos{
    display: flex;
    justify-content: center;
    width: 100%;
}

.titulo{
    font-family: 'poppins',helvetica, sans-serif; 
    font-size: 1.25rem;
    -webkit-text-stroke-width: 1px;
    margin-top: 0px;
    width: 66.3%;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

/* -------imagenes con grande izquierda--------------------------*/

.imagenes-left, .imagenes-par{
    display: flex;
    justify-content: center;
    gap: 1.7rem;
    margin-top: 34px;
    margin-bottom: 33px;
}

.img-left-one{
    width: 42rem;
    border-radius: 15px;
}

.img-left{
    width: 20rem;
    border-radius: 15px;
}

/* -------imagenes con grande derecha--------------------------*/

.imagenes-right, .imagenes-cuatro{
    display: flex;
    justify-content: center;
    gap: 1.7rem;
    margin-top: 33.5px;
}

.img-right{
    width: 20rem;
    border-radius: 15px;
}

.img-right-three{
    width: 42rem;
    border-radius: 15px;
}


/* -------imagenes largas--------------------------*/

.img-center{
    width: 85rem;
    border-radius: 15px;
    margin-bottom: 18px;
}

/* -------novena fila de imagenes--------------------------*/

.contenedor-imagenes-nine{
    display: flex;
    justify-content: center;
    gap: 1.7rem;
    margin-top: 50px;
}

.imagenes-nine{
    display: flex;
    flex-direction: column;
    gap: 1.7rem; 
}

.img-nine-two{
    width: 40rem;
    height: 29rem;
    border-radius: 15px;
}

.img-nine{
    width: 19.8rem;
    border-radius: 15px;
}

/* -------tarjetas con imagen--------------------------*/

.container-tarjetasmove{
    display: flex;
    justify-content: center;
    width: 100%;
}

.tarjetasmove-img{
    display: flex;
    width: 70%;
    margin-left: 60px;
    position: relative;
}

.container-carruselt{
    width: 65%;
    overflow: hidden;
    padding-left: 30px;
    
}

.carrusel-tarjetas{
    display: flex;
    width: 300rem;
    gap: 60px;
    animation: mover3 10s infinite;
}

@keyframes mover3 {
  14%   { transform: translateX(0%); }
  15%   { transform: translateX(-5%); }
  29%   { transform: translateX(-5%); }
  30%   { transform: translateX(-10%); }
  44%   { transform: translateX(-10%); }
  45%   { transform: translateX(-14%); }
  59%   { transform: translateX(-14%); }
  60%   { transform: translateX(-19%); }
  74%   { transform: translateX(-19%); }
  75%   { transform: translateX(-23%); }
  89%   { transform: translateX(-23%); }
  90%   { transform: translateX(-27%); }
  99%   { transform: translateX(-28%); }
}

.tarjeta-c{
    width: 10.3rem;
    font-family: 'poppins',helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.principal-hov{
    position: relative;
    width: 100%;
}

.hov-1, .hov-2, .hov-3, .hov-4, .hov-5, .hov-6, .hov-7, .hov-8, .hov-9, .hov-10 {
    position: absolute;
    left: 1px;
    width: 170px;
    opacity: 0;
}

.hov-1:hover, .hov-2:hover, .hov-3:hover, .hov-4:hover, .hov-5:hover, .hov-6:hover, .hov-7:hover, .hov-8:hover, .hov-9:hover, .hov-10:hover{
    opacity: 1;
}

.hov-1{
     margin-left: 1.8;

}

.hov-2{
    margin-left: 14rem;
}

.hov-3{
    margin-left: 28rem;
}

.hov-4{
    margin-left: 42rem;
}

.hov-5{
    margin-left: 56rem;
}

.hov-6{
    margin-left: 70rem;
}

.hov-7{
    margin-left: 84rem;
}

.hov-8{
    margin-left: 98rem;
}

.hov-9{
    margin-left: 112rem;
}

.hov-10{
    margin-left: 126rem;
}

.tarjeta-c a{
    text-decoration: none;
    color: inherit;
}

.tdescripcion{
    margin: 1px;
}

.parentesis{
    color: gray;
    font-size: 12px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 7px;
}

.precio{
    -webkit-text-stroke-width: 0.28px;
    margin-bottom: 2.5rem;
}

.por{
    font-size: 11px;
    margin-bottom: 0px;
}

strong{
     -webkit-text-stroke-width: 0.1px;
}

.tarjeta-c button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    width: 100%;
    height: 2.6rem;
    font-family: 'poppins',helvetica, sans-serif;
    -webkit-text-stroke-width: 0.7px;
    border-radius: 10px;
    color: white;
    border: none;
    margin-top: 5px;
    background: #F78524;
    cursor: pointer;
}

.tarjeta-c button:hover{
    background-color: #E2681D;
}

.tarjetasmove-img a{
    width: 40%;
}

.imagen-decontainer{
    margin: 18px;
    width: 85%;
}

.fa-circle-chevron-left{
    font-size: 40px;
    position: absolute;
    margin-top: 9rem;
    margin-left: -0.5rem;
    color: #e9e3e3;
    background: radial-gradient(black, white,transparent);
}

.fa-circle-chevron-right{
    font-size: 40px;
    position: absolute;
    margin-top: 9rem;
    margin-left: 53.5rem;
    color: #e9e3e3;
    background: radial-gradient(black, white,transparent);
}

/* -------Consolas--------------------------*/

.consolas, .celulares, .tablets, .aspiradoras{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.container-consolas{
    display: flex;
    justify-content: start;
    width: 64%;
    padding: 30px;
    overflow: hidden;
}

.carrusel-consolas{
    display: flex;
    width: 300rem;
    gap: 70px;
    animation: mover4 10s infinite;
}

.tarjeta-con{
    width: 13rem;
    font-family: 'poppins',helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.tarjeta-con a{
    text-decoration: none;
    color: inherit;
}

.principal-hov-con{
    position: relative;
    width: 80%;
    margin-left: 1.5rem;
    opacity: 1;
}

.con-1, .con-2, .con-3, .con-4, .con-5, .con-6, .con-7, .con-8, .con-9, .con-10 {
    position: absolute;
    left: 1px;
    width: 165.9px;
    opacity: 0;
}

.con-1:hover, .con-2:hover, .con-3:hover, .con-4:hover, .con-5:hover, .con-6:hover, .con-7:hover, .con-8:hover, .con-9:hover, .con-10:hover{
    opacity: 1;
}

.con-1{
     margin-left: 1.3rem;
}

.con-2{
    margin-left: 18.3rem;
}

.con-3{
    margin-left: 35rem;
}

.con-4{
    margin-left: 53rem;
}

.con-5{
    margin-left: 70rem;
}

.con-6{
    margin-left: 88rem;
}

.con-7{
    margin-left: 105rem;
}

.con-8{
    margin-left: 122rem;
}

.con-9{
    margin-left: 140rem;
}

.con-10{
    margin-left: 157rem;
}



.precio-antes{
    display: flex;
    font-size: 13px;
    align-items: center;
    margin: 0px;
    height: 20px;
}

.icono-alert{
    width: 12px;
    margin-left: 4px;
}

.precio-consola{
    margin-top: 5px;
    margin-bottom: 5rem;
}

.porcentaje-descuento{
    background: black;
    color: white;
    padding: 2px 5px;
    font-size: 14px;
}

.precio-tachado{
    color: gray;
    margin-left: 20px;
    text-decoration: line-through;
    letter-spacing: 1px;
}

.precio-tach{
    color: gray;
    
    text-decoration: line-through;
    letter-spacing: 1px;
}

.tarjeta-con button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    width: 100%;
    height: 2.6rem;
    font-family: 'poppins',helvetica, sans-serif;
    -webkit-text-stroke-width: 0.7px;
    border-radius: 10px;
    margin-top: 10px;
    color: white;
    border: none;
    background: #F78524;
    cursor: pointer;
}

.tarjeta-con button:hover{
    background-color: #E2681D ;
}


.ver-mas{
    color: black;
    font-size: 12px;
    text-decoration: underline;
    margin-top: 0px;
    margin-bottom: 0px;
}

.naranja-credit{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.precio-credit{
    font-size: 19px;
    color: #F78524;
    -webkit-text-stroke-width: 0.3px;
    letter-spacing: 1.5px;
    margin: 5px 0 0 0;
}

.imagen-credit{
    width: 30px;
    height: 30px;
    
}

.precio-otros{
    margin-top: 0px;
    margin-bottom: 3.2rem;
}

@keyframes mover4 {
  14%   { transform: translateX(0%); }
  15%   { transform: translateX(-10%); }
  29%   { transform: translateX(-10%); }
  30%   { transform: translateX(-20%); }
  44%   { transform: translateX(-20%); }
  45%   { transform: translateX(-31%); }
  59%   { transform: translateX(-31%); }
  60%   { transform: translateX(-41%); }
  74%   { transform: translateX(-41%); }
  75%   { transform: translateX(-51%); }
  89%   { transform: translateX(-51%); }
 
}

.fa-circle-right{
    font-size: 40px;
    position: absolute;
    margin-top: 13rem;
    margin-left: 81rem;
    color: #e9e3e3;
    background: radial-gradient(black, white,transparent);
}

.fa-circle-left{
    font-size: 40px;
    position: absolute;
    margin-top: 13rem;
    margin-left: -0.5rem;
    color: #e9e3e3;
    background: radial-gradient(black, white,transparent);
}

.carrusel-apiradora{
    display: flex;
    width: 300rem;
    gap: 70px;
    animation: mover4 10000s infinite;      
    /* //corregir// */
}

.carrusel-coches{
    display: flex;
    width: 300rem;
    gap: 60px;
    animation: mover3 10000s infinite;
}